.text {
  height: 1.125rem;
  margin: 0 1rem 0 0;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.bookName {
  height: 1.403rem;
  margin: 0 5rem 0 0;
  font-family: RobotoSlab;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2px;
}

.bookBtns {
  background-color: white;
  color: #4386bf;
  font-size: 0.875rem;
  height: 1.188rem;
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  border: none;
  cursor: pointer;
}

